@model IEnumerable<CMA_Leadership.Models.Student>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



    
@section Scripts{
    
<script>

        //debugger;
        $(document).ready(function () {

            $('#demoGrid').DataTable(
            {
                "processing": true, // for show progress bar
                "serverSide": true,
                "ajax": {
                    "url": "/Test/AjaxLoad",
                    "type": "POST",
                    
                    "datatype": "json",
                    "dataSrc": "",
                    
                },

                "columns": [          
                    { "data": 'studentId' },
                    { "data": 'first_Name'},
                    { "data": 'last_Name'},
                    { "data": 'years_Attended' },
                    { "data": 'division' },
                    { "data": 'current_Position' },
                    { "data": 'current_Rank'},
                    { "data": 'unit' },
                ],
            });
        });      
</script>
}

<body>
<div class="container">
    <br />
    <div style="width:90%; margin:0 auto;">
        <table id="demoGrid" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>StudentId</th>
                    <th>Last_Name</th>
                    <th>First_Name</th>
                    <th>Years_Attended</th>
                    <th>Division</th>
                    <th>Current_Posititon</th>
                    <th>Current_Rank</th>
                    <th>Unit</th>
                </tr>
            </thead>
                    <tbody></tbody>
        </table>
    </div>
</div>
</body>

